#数据加载、存储与文件格式
##读写文本格式的数据

In [1]:
#read_csv和read_table都是从文件、URL、文本型对象中加载带分隔符的数据，
# read_csv默认分隔符为逗号，而read_table的默认分隔符为制表符（“\t”）
import pandas as pd
df=pd.read_csv('ch06/ex1.csv')#a,b,c,d,message是文件中的第一行
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>hello</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>world</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
      <td>foo</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
pd.read_table('ch06/ex1.csv',sep=',')

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>hello</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>world</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
      <td>foo</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
pd.read_csv('ch06/ex2.csv',header=None)#ex2.csv中没有标题行，pandas默认分配列名

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>hello</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>world</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
      <td>foo</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
pd.read_csv('ch06/ex2.csv',names=['a','b','c','d','message'])#自定义列名

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>hello</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>world</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
      <td>foo</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
names=['a','b','c','d','message']
pd.read_csv('ch06/ex2.csv',names=names,index_col='message')#将message做出DataFrame的索引

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
    </tr>
    <tr>
      <th>message</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>hello</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>world</th>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>foo</th>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
    </tr>
  </tbody>
</table>
</div>

In [12]:
#如果希望将多个列做成一个层次化索引，只需传入由列编号或列名组成的列表即可
parsed=pd.read_csv('ch06/csv_mindex.csv',index_col=['key1','key2'])
parsed

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>value1</th>
      <th>value2</th>
    </tr>
    <tr>
      <th>key1</th>
      <th>key2</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="4" valign="top">one</th>
      <th>a</th>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>b</th>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>c</th>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>d</th>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">two</th>
      <th>a</th>
      <td>9</td>
      <td>10</td>
    </tr>
    <tr>
      <th>b</th>
      <td>11</td>
      <td>12</td>
    </tr>
    <tr>
      <th>c</th>
      <td>13</td>
      <td>14</td>
    </tr>
    <tr>
      <th>d</th>
      <td>15</td>
      <td>16</td>
    </tr>
  </tbody>
</table>
</div>

In [13]:
#有些表格不是用固定的分割符去分割字段的（比如空白符或其他）
#对于这种情况，可以编写一个正则表达式来作为read_table的分隔符
list(open('ch06/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [14]:
result=pd.read_table('ch06/ex3.txt',sep='\s+')#分隔符用正则表达式
result

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>aaa</th>
      <td>-0.264438</td>
      <td>-1.026059</td>
      <td>-0.619500</td>
    </tr>
    <tr>
      <th>bbb</th>
      <td>0.927272</td>
      <td>0.302904</td>
      <td>-0.032399</td>
    </tr>
    <tr>
      <th>ccc</th>
      <td>-0.264273</td>
      <td>-0.386314</td>
      <td>-0.217601</td>
    </tr>
    <tr>
      <th>ddd</th>
      <td>-0.871858</td>
      <td>-0.348382</td>
      <td>1.100491</td>
    </tr>
  </tbody>
</table>
</div>

In [15]:
pd.read_csv('ch06/ex4.csv',skiprows=[0,2,3])#skiprows跳过文件的第一、三、四行

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>hello</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>world</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
      <td>foo</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
#pandas处理缺失值，会识别NA、-1、#IND以及ＮＵＬＬ等
result=pd.read_csv('ch06/ex5.csv')
result

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>something</th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>one</td>
      <td>1</td>
      <td>2</td>
      <td>3.0</td>
      <td>4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>two</td>
      <td>5</td>
      <td>6</td>
      <td>NaN</td>
      <td>8</td>
      <td>world</td>
    </tr>
    <tr>
      <th>2</th>
      <td>three</td>
      <td>9</td>
      <td>10</td>
      <td>11.0</td>
      <td>12</td>
      <td>foo</td>
    </tr>
  </tbody>
</table>
</div>

In [17]:
pd.isnull(result)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>something</th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1</th>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
#na_values可以接受一组用于表示缺失值的字符串
result=pd.read_csv('ch06/ex5.csv',na_values=['NULL'])
result

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>something</th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>one</td>
      <td>1</td>
      <td>2</td>
      <td>3.0</td>
      <td>4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>two</td>
      <td>5</td>
      <td>6</td>
      <td>NaN</td>
      <td>8</td>
      <td>world</td>
    </tr>
    <tr>
      <th>2</th>
      <td>three</td>
      <td>9</td>
      <td>10</td>
      <td>11.0</td>
      <td>12</td>
      <td>foo</td>
    </tr>
  </tbody>
</table>
</div>

In [19]:
#可以用一个字典为各列指定不同的NA标记值
sentinels={'message':['foo','NA'],'something':['two']}
pd.read_csv('ch06/ex5.csv',na_values=sentinels)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>something</th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>one</td>
      <td>1</td>
      <td>2</td>
      <td>3.0</td>
      <td>4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>NaN</td>
      <td>5</td>
      <td>6</td>
      <td>NaN</td>
      <td>8</td>
      <td>world</td>
    </tr>
    <tr>
      <th>2</th>
      <td>three</td>
      <td>9</td>
      <td>10</td>
      <td>11.0</td>
      <td>12</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

###逐块读取文本文件

In [22]:
result=pd.read_csv('ch06/ex6.csv')
result

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>one</th>
      <th>two</th>
      <th>three</th>
      <th>four</th>
      <th>key</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.467976</td>
      <td>-0.038649</td>
      <td>-0.295344</td>
      <td>-1.824726</td>
      <td>L</td>
    </tr>
    <tr>
      <th>1</th>
      <td>-0.358893</td>
      <td>1.404453</td>
      <td>0.704965</td>
      <td>-0.200638</td>
      <td>B</td>
    </tr>
    <tr>
      <th>2</th>
      <td>-0.501840</td>
      <td>0.659254</td>
      <td>-0.421691</td>
      <td>-0.057688</td>
      <td>G</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.204886</td>
      <td>1.074134</td>
      <td>1.388361</td>
      <td>-0.982404</td>
      <td>R</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.354628</td>
      <td>-0.133116</td>
      <td>0.283763</td>
      <td>-0.837063</td>
      <td>Q</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1.817480</td>
      <td>0.742273</td>
      <td>0.419395</td>
      <td>-2.251035</td>
      <td>Q</td>
    </tr>
    <tr>
      <th>6</th>
      <td>-0.776764</td>
      <td>0.935518</td>
      <td>-0.332872</td>
      <td>-1.875641</td>
      <td>U</td>
    </tr>
    <tr>
      <th>7</th>
      <td>-0.913135</td>
      <td>1.530624</td>
      <td>-0.572657</td>
      <td>0.477252</td>
      <td>K</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0.358480</td>
      <td>-0.497572</td>
      <td>-0.367016</td>
      <td>0.507702</td>
      <td>S</td>
    </tr>
    <tr>
      <th>9</th>
      <td>-1.740877</td>
      <td>-1.160417</td>
      <td>-1.637830</td>
      <td>2.172201</td>
      <td>G</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0.240564</td>
      <td>-0.328249</td>
      <td>1.252155</td>
      <td>1.072796</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <td>0.764018</td>
      <td>1.165476</td>
      <td>-0.639544</td>
      <td>1.495258</td>
      <td>R</td>
    </tr>
    <tr>
      <th>12</th>
      <td>0.571035</td>
      <td>-0.310537</td>
      <td>0.582437</td>
      <td>-0.298765</td>
      <td>1</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2.317658</td>
      <td>0.430710</td>
      <td>-1.334216</td>
      <td>0.199679</td>
      <td>P</td>
    </tr>
    <tr>
      <th>14</th>
      <td>1.547771</td>
      <td>-1.119753</td>
      <td>-2.277634</td>
      <td>0.329586</td>
      <td>J</td>
    </tr>
    <tr>
      <th>15</th>
      <td>-1.310608</td>
      <td>0.401719</td>
      <td>-1.000987</td>
      <td>1.156708</td>
      <td>E</td>
    </tr>
    <tr>
      <th>16</th>
      <td>-0.088496</td>
      <td>0.634712</td>
      <td>0.153324</td>
      <td>0.415335</td>
      <td>B</td>
    </tr>
    <tr>
      <th>17</th>
      <td>-0.018663</td>
      <td>-0.247487</td>
      <td>-1.446522</td>
      <td>0.750938</td>
      <td>A</td>
    </tr>
    <tr>
      <th>18</th>
      <td>-0.070127</td>
      <td>-1.579097</td>
      <td>0.120892</td>
      <td>0.671432</td>
      <td>F</td>
    </tr>
    <tr>
      <th>19</th>
      <td>-0.194678</td>
      <td>-0.492039</td>
      <td>2.359605</td>
      <td>0.319810</td>
      <td>H</td>
    </tr>
    <tr>
      <th>20</th>
      <td>-0.248618</td>
      <td>0.868707</td>
      <td>-0.492226</td>
      <td>-0.717959</td>
      <td>W</td>
    </tr>
    <tr>
      <th>21</th>
      <td>-1.091549</td>
      <td>-0.867110</td>
      <td>-0.647760</td>
      <td>-0.832562</td>
      <td>C</td>
    </tr>
    <tr>
      <th>22</th>
      <td>0.641404</td>
      <td>-0.138822</td>
      <td>-0.621963</td>
      <td>-0.284839</td>
      <td>C</td>
    </tr>
    <tr>
      <th>23</th>
      <td>1.216408</td>
      <td>0.992687</td>
      <td>0.165162</td>
      <td>-0.069619</td>
      <td>V</td>
    </tr>
    <tr>
      <th>24</th>
      <td>-0.564474</td>
      <td>0.792832</td>
      <td>0.747053</td>
      <td>0.571675</td>
      <td>I</td>
    </tr>
    <tr>
      <th>25</th>
      <td>1.759879</td>
      <td>-0.515666</td>
      <td>-0.230481</td>
      <td>1.362317</td>
      <td>S</td>
    </tr>
    <tr>
      <th>26</th>
      <td>0.126266</td>
      <td>0.309281</td>
      <td>0.382820</td>
      <td>-0.239199</td>
      <td>L</td>
    </tr>
    <tr>
      <th>27</th>
      <td>1.334360</td>
      <td>-0.100152</td>
      <td>-0.840731</td>
      <td>-0.643967</td>
      <td>6</td>
    </tr>
    <tr>
      <th>28</th>
      <td>-0.737620</td>
      <td>0.278087</td>
      <td>-0.053235</td>
      <td>-0.950972</td>
      <td>J</td>
    </tr>
    <tr>
      <th>29</th>
      <td>-1.148486</td>
      <td>-0.986292</td>
      <td>-0.144963</td>
      <td>0.124362</td>
      <td>Y</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>9970</th>
      <td>0.633495</td>
      <td>-0.186524</td>
      <td>0.927627</td>
      <td>0.143164</td>
      <td>4</td>
    </tr>
    <tr>
      <th>9971</th>
      <td>0.308636</td>
      <td>-0.112857</td>
      <td>0.762842</td>
      <td>-1.072977</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9972</th>
      <td>-1.627051</td>
      <td>-0.978151</td>
      <td>0.154745</td>
      <td>-1.229037</td>
      <td>Z</td>
    </tr>
    <tr>
      <th>9973</th>
      <td>0.314847</td>
      <td>0.097989</td>
      <td>0.199608</td>
      <td>0.955193</td>
      <td>P</td>
    </tr>
    <tr>
      <th>9974</th>
      <td>1.666907</td>
      <td>0.992005</td>
      <td>0.496128</td>
      <td>-0.686391</td>
      <td>S</td>
    </tr>
    <tr>
      <th>9975</th>
      <td>0.010603</td>
      <td>0.708540</td>
      <td>-1.258711</td>
      <td>0.226541</td>
      <td>K</td>
    </tr>
    <tr>
      <th>9976</th>
      <td>0.118693</td>
      <td>-0.714455</td>
      <td>-0.501342</td>
      <td>-0.254764</td>
      <td>K</td>
    </tr>
    <tr>
      <th>9977</th>
      <td>0.302616</td>
      <td>-2.011527</td>
      <td>-0.628085</td>
      <td>0.768827</td>
      <td>H</td>
    </tr>
    <tr>
      <th>9978</th>
      <td>-0.098572</td>
      <td>1.769086</td>
      <td>-0.215027</td>
      <td>-0.053076</td>
      <td>A</td>
    </tr>
    <tr>
      <th>9979</th>
      <td>-0.019058</td>
      <td>1.964994</td>
      <td>0.738538</td>
      <td>-0.883776</td>
      <td>F</td>
    </tr>
    <tr>
      <th>9980</th>
      <td>-0.595349</td>
      <td>0.001781</td>
      <td>-1.423355</td>
      <td>-1.458477</td>
      <td>M</td>
    </tr>
    <tr>
      <th>9981</th>
      <td>1.392170</td>
      <td>-1.396560</td>
      <td>-1.425306</td>
      <td>-0.847535</td>
      <td>H</td>
    </tr>
    <tr>
      <th>9982</th>
      <td>-0.896029</td>
      <td>-0.152287</td>
      <td>1.924483</td>
      <td>0.365184</td>
      <td>6</td>
    </tr>
    <tr>
      <th>9983</th>
      <td>-2.274642</td>
      <td>-0.901874</td>
      <td>1.500352</td>
      <td>0.996541</td>
      <td>N</td>
    </tr>
    <tr>
      <th>9984</th>
      <td>-0.301898</td>
      <td>1.019906</td>
      <td>1.102160</td>
      <td>2.624526</td>
      <td>I</td>
    </tr>
    <tr>
      <th>9985</th>
      <td>-2.548389</td>
      <td>-0.585374</td>
      <td>1.496201</td>
      <td>-0.718815</td>
      <td>D</td>
    </tr>
    <tr>
      <th>9986</th>
      <td>-0.064588</td>
      <td>0.759292</td>
      <td>-1.568415</td>
      <td>-0.420933</td>
      <td>E</td>
    </tr>
    <tr>
      <th>9987</th>
      <td>-0.143365</td>
      <td>-1.111760</td>
      <td>-1.815581</td>
      <td>0.435274</td>
      <td>2</td>
    </tr>
    <tr>
      <th>9988</th>
      <td>-0.070412</td>
      <td>-1.055921</td>
      <td>0.338017</td>
      <td>-0.440763</td>
      <td>X</td>
    </tr>
    <tr>
      <th>9989</th>
      <td>0.649148</td>
      <td>0.994273</td>
      <td>-1.384227</td>
      <td>0.485120</td>
      <td>Q</td>
    </tr>
    <tr>
      <th>9990</th>
      <td>-0.370769</td>
      <td>0.404356</td>
      <td>-1.051628</td>
      <td>-1.050899</td>
      <td>8</td>
    </tr>
    <tr>
      <th>9991</th>
      <td>-0.409980</td>
      <td>0.155627</td>
      <td>-0.818990</td>
      <td>1.277350</td>
      <td>W</td>
    </tr>
    <tr>
      <th>9992</th>
      <td>0.301214</td>
      <td>-1.111203</td>
      <td>0.668258</td>
      <td>0.671922</td>
      <td>A</td>
    </tr>
    <tr>
      <th>9993</th>
      <td>1.821117</td>
      <td>0.416445</td>
      <td>0.173874</td>
      <td>0.505118</td>
      <td>X</td>
    </tr>
    <tr>
      <th>9994</th>
      <td>0.068804</td>
      <td>1.322759</td>
      <td>0.802346</td>
      <td>0.223618</td>
      <td>H</td>
    </tr>
    <tr>
      <th>9995</th>
      <td>2.311896</td>
      <td>-0.417070</td>
      <td>-1.409599</td>
      <td>-0.515821</td>
      <td>L</td>
    </tr>
    <tr>
      <th>9996</th>
      <td>-0.479893</td>
      <td>-0.650419</td>
      <td>0.745152</td>
      <td>-0.646038</td>
      <td>E</td>
    </tr>
    <tr>
      <th>9997</th>
      <td>0.523331</td>
      <td>0.787112</td>
      <td>0.486066</td>
      <td>1.093156</td>
      <td>K</td>
    </tr>
    <tr>
      <th>9998</th>
      <td>-0.362559</td>
      <td>0.598894</td>
      <td>-1.843201</td>
      <td>0.887292</td>
      <td>G</td>
    </tr>
    <tr>
      <th>9999</th>
      <td>-0.096376</td>
      <td>-1.012999</td>
      <td>-0.657431</td>
      <td>-0.573315</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>10000 rows × 5 columns</p>
</div>

In [23]:
#如果只想读取几行，通过nrows进行指定即可
pd.read_csv('ch06/ex6.csv',nrows=5)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>one</th>
      <th>two</th>
      <th>three</th>
      <th>four</th>
      <th>key</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.467976</td>
      <td>-0.038649</td>
      <td>-0.295344</td>
      <td>-1.824726</td>
      <td>L</td>
    </tr>
    <tr>
      <th>1</th>
      <td>-0.358893</td>
      <td>1.404453</td>
      <td>0.704965</td>
      <td>-0.200638</td>
      <td>B</td>
    </tr>
    <tr>
      <th>2</th>
      <td>-0.501840</td>
      <td>0.659254</td>
      <td>-0.421691</td>
      <td>-0.057688</td>
      <td>G</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.204886</td>
      <td>1.074134</td>
      <td>1.388361</td>
      <td>-0.982404</td>
      <td>R</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.354628</td>
      <td>-0.133116</td>
      <td>0.283763</td>
      <td>-0.837063</td>
      <td>Q</td>
    </tr>
  </tbody>
</table>
</div>

In [35]:
#要逐块读取文件，需要设置chunksize(行数)
chunker=pd.read_csv('ch06/ex6.csv',chunksize=1000)
chunker

In [36]:
#read_csv返回的这个TextParser对象可以根据chunksize对文件进行逐块迭代
from pandas import Series,DataFrame
tot=Series([])
for piece in chunker:
    tot=tot.add(piece['key'].value_counts(),fill_value=0)
tot=tot.sort_values(ascending=False) 
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [37]:
#TextParse还有一个get_chunk方法，它可以使你读取任意大小的块

##将数据写入到文本格式

In [38]:
data=pd.read_csv('ch06/ex5.csv')
data

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>something</th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>one</td>
      <td>1</td>
      <td>2</td>
      <td>3.0</td>
      <td>4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>two</td>
      <td>5</td>
      <td>6</td>
      <td>NaN</td>
      <td>8</td>
      <td>world</td>
    </tr>
    <tr>
      <th>2</th>
      <td>three</td>
      <td>9</td>
      <td>10</td>
      <td>11.0</td>
      <td>12</td>
      <td>foo</td>
    </tr>
  </tbody>
</table>
</div>

In [39]:
data.to_csv('ch06/myout.csv')

In [41]:
data.to_csv('ch06/myout1.csv',sep='|')

In [42]:
data.to_csv('ch06/myout2.csv',na_rep='MULL')#空值替换为NULL输出

In [43]:
data.to_csv('ch06/myout3.csv',index=False,header=False)#不输出行和列标签

In [45]:
data.to_csv('ch06/myout4.csv',index=False,columns=['a','b','c'])#写出一部分的列，并以指定顺序排序

In [47]:
#Series也有一个to_csv方法
import numpy as np
dates=pd.date_range('1/1/2000',periods=7)
ts=Series(np.arange(7),index=dates)
ts.to_csv('ch06/tseries.csv')

In [49]:
Series.from_csv('ch06/tseries.csv',parse_dates=True)

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
dtype: int64

##手工处理分隔符格式

In [51]:
#对于任何单字符分隔符文件，可以直接使用python内置的csv模块
import csv
f=open('ch06/ex7.csv')
reader=csv.reader(f)
#对这个reader进行迭代将会为每行产生一个列表，并移除了所有的引号
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [54]:
#为了是数据格式合乎要求，需要对其做一些整理工作
lines=list(csv.reader(open('ch06/ex7.csv')))
header,values=lines[0],lines[1:]
data_dict={h:v for h,v in zip(header,zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [64]:
#可以使用csv.writer手工输出分隔符文件
with open('ch06/mydata.csv','w') as f:
    writer=csv.writer(f)
    writer.writerow(('one','two','three'))
    writer.writerow(('1','2','3'))
    writer.writerow(('4','5','6'))
    writer.writerow(('7','8','9'))

##JSON数据

In [66]:
obj="""
{"name":"Wes","places_lived":["United States","Spain","Germany"],
"pet":null,
"siblings":[{"name":"Scott","age":25,"pet":"Zuko"},
{"name":"Katie","age":33,"pet":"Cisco"}]}
"""
import json
result=json.loads(obj)
result

{'name': 'Wes',
 'pet': None,
 'places_lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 25, 'name': 'Scott', 'pet': 'Zuko'},
  {'age': 33, 'name': 'Katie', 'pet': 'Cisco'}]}

In [67]:
#json.dumps则将Python对象转换成JSON格式
asjson=json.dumps(result)

In [68]:
#将一个JSON对象转换为DataFrame
siblings=DataFrame(result['siblings'],columns=['name','age'])
siblings

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>age</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Scott</td>
      <td>25</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Katie</td>
      <td>33</td>
    </tr>
  </tbody>
</table>
</div>

In [69]:
siblings.to_json('ch06/json.csv')

##XML和HTML：Web信息收集

###利用lxml.objectify解析XML

In [71]:
from lxml import objectify
path='ch06/mta_perf/Performance_MNR.xml'
parsed=objectify.parse(open(path))
root=parsed.getroot()
data=[]
skip_fields=['PARENT_SEQ','INDICATOR_SEQ','DESIRED_CHANGE','DECIMAL_PLACES']
for elt in root.INDICATOR:
    el_data={}
    for child in elt.getchildren():    
        if child.tag in skip_fields:
            continue
        el_data[child.tag]=child.pyval
    data.append(el_data)

In [72]:
perf=DataFrame(data)
perf

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>AGENCY_NAME</th>
      <th>CATEGORY</th>
      <th>DESCRIPTION</th>
      <th>FREQUENCY</th>
      <th>INDICATOR_NAME</th>
      <th>INDICATOR_UNIT</th>
      <th>MONTHLY_ACTUAL</th>
      <th>MONTHLY_TARGET</th>
      <th>PERIOD_MONTH</th>
      <th>PERIOD_YEAR</th>
      <th>YTD_ACTUAL</th>
      <th>YTD_TARGET</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>96.9</td>
      <td>95</td>
      <td>1</td>
      <td>2008</td>
      <td>96.9</td>
      <td>95</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>95</td>
      <td>95</td>
      <td>2</td>
      <td>2008</td>
      <td>96</td>
      <td>95</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>96.9</td>
      <td>95</td>
      <td>3</td>
      <td>2008</td>
      <td>96.3</td>
      <td>95</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>98.3</td>
      <td>95</td>
      <td>4</td>
      <td>2008</td>
      <td>96.8</td>
      <td>95</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>95.8</td>
      <td>95</td>
      <td>5</td>
      <td>2008</td>
      <td>96.6</td>
      <td>95</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>94.4</td>
      <td>95</td>
      <td>6</td>
      <td>2008</td>
      <td>96.2</td>
      <td>95</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>96</td>
      <td>95</td>
      <td>7</td>
      <td>2008</td>
      <td>96.2</td>
      <td>95</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>96.4</td>
      <td>95</td>
      <td>8</td>
      <td>2008</td>
      <td>96.2</td>
      <td>95</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>93.7</td>
      <td>95</td>
      <td>9</td>
      <td>2008</td>
      <td>95.9</td>
      <td>95</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>96.4</td>
      <td>95</td>
      <td>10</td>
      <td>2008</td>
      <td>96</td>
      <td>95</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>96.9</td>
      <td>95</td>
      <td>11</td>
      <td>2008</td>
      <td>96.1</td>
      <td>95</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>95.1</td>
      <td>95</td>
      <td>12</td>
      <td>2008</td>
      <td>96</td>
      <td>95</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>92.6</td>
      <td>96.2</td>
      <td>1</td>
      <td>2009</td>
      <td>92.6</td>
      <td>96.2</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>96.8</td>
      <td>96.2</td>
      <td>2</td>
      <td>2009</td>
      <td>94.6</td>
      <td>96.2</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>96.9</td>
      <td>96.2</td>
      <td>3</td>
      <td>2009</td>
      <td>95.4</td>
      <td>96.2</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>97.1</td>
      <td>96.2</td>
      <td>4</td>
      <td>2009</td>
      <td>95.9</td>
      <td>96.2</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>97.8</td>
      <td>96.2</td>
      <td>5</td>
      <td>2009</td>
      <td>96.2</td>
      <td>96.2</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>97.3</td>
      <td>96.2</td>
      <td>6</td>
      <td>2009</td>
      <td>96.4</td>
      <td>96.2</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>96.7</td>
      <td>96.2</td>
      <td>7</td>
      <td>2009</td>
      <td>96.5</td>
      <td>96.2</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>95.7</td>
      <td>96.2</td>
      <td>8</td>
      <td>2009</td>
      <td>96.4</td>
      <td>96.2</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>96.1</td>
      <td>96.2</td>
      <td>9</td>
      <td>2009</td>
      <td>96.3</td>
      <td>96.2</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>94.8</td>
      <td>96.2</td>
      <td>10</td>
      <td>2009</td>
      <td>96.2</td>
      <td>96.2</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>95.7</td>
      <td>96.2</td>
      <td>11</td>
      <td>2009</td>
      <td>96.1</td>
      <td>96.2</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>95</td>
      <td>96.2</td>
      <td>12</td>
      <td>2009</td>
      <td>96</td>
      <td>96.2</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>98</td>
      <td>96.3</td>
      <td>1</td>
      <td>2010</td>
      <td>98</td>
      <td>96.3</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>93</td>
      <td>96.3</td>
      <td>2</td>
      <td>2010</td>
      <td>95.6</td>
      <td>96.3</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>96.9</td>
      <td>96.3</td>
      <td>3</td>
      <td>2010</td>
      <td>96.1</td>
      <td>96.3</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>98.1</td>
      <td>96.3</td>
      <td>4</td>
      <td>2010</td>
      <td>96.6</td>
      <td>96.3</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>97.6</td>
      <td>96.3</td>
      <td>5</td>
      <td>2010</td>
      <td>96.8</td>
      <td>96.3</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of commuter trains that arrive at thei...</td>
      <td>M</td>
      <td>On-Time Performance (West of Hudson)</td>
      <td>%</td>
      <td>97.4</td>
      <td>96.3</td>
      <td>6</td>
      <td>2010</td>
      <td>96.9</td>
      <td>96.3</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>618</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>94</td>
      <td></td>
      <td>7</td>
      <td>2009</td>
      <td>95.14</td>
      <td></td>
    </tr>
    <tr>
      <th>619</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>97</td>
      <td></td>
      <td>8</td>
      <td>2009</td>
      <td>95.38</td>
      <td></td>
    </tr>
    <tr>
      <th>620</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>98.3</td>
      <td></td>
      <td>9</td>
      <td>2009</td>
      <td>95.7</td>
      <td></td>
    </tr>
    <tr>
      <th>621</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>98.7</td>
      <td></td>
      <td>10</td>
      <td>2009</td>
      <td>96</td>
      <td></td>
    </tr>
    <tr>
      <th>622</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>98.1</td>
      <td></td>
      <td>11</td>
      <td>2009</td>
      <td>96.21</td>
      <td></td>
    </tr>
    <tr>
      <th>623</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>100</td>
      <td></td>
      <td>12</td>
      <td>2009</td>
      <td>96.5</td>
      <td></td>
    </tr>
    <tr>
      <th>624</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>97.95</td>
      <td>97</td>
      <td>1</td>
      <td>2010</td>
      <td>97.95</td>
      <td>97</td>
    </tr>
    <tr>
      <th>625</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>100</td>
      <td>97</td>
      <td>2</td>
      <td>2010</td>
      <td>98.92</td>
      <td>97</td>
    </tr>
    <tr>
      <th>626</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>100</td>
      <td>97</td>
      <td>3</td>
      <td>2010</td>
      <td>99.29</td>
      <td>97</td>
    </tr>
    <tr>
      <th>627</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>100</td>
      <td>97</td>
      <td>4</td>
      <td>2010</td>
      <td>99.47</td>
      <td>97</td>
    </tr>
    <tr>
      <th>628</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>100</td>
      <td>97</td>
      <td>5</td>
      <td>2010</td>
      <td>99.58</td>
      <td>97</td>
    </tr>
    <tr>
      <th>629</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>91.21</td>
      <td>97</td>
      <td>6</td>
      <td>2010</td>
      <td>98.19</td>
      <td>97</td>
    </tr>
    <tr>
      <th>630</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>100</td>
      <td>97</td>
      <td>7</td>
      <td>2010</td>
      <td>98.46</td>
      <td>97</td>
    </tr>
    <tr>
      <th>631</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>100</td>
      <td>97</td>
      <td>8</td>
      <td>2010</td>
      <td>98.69</td>
      <td>97</td>
    </tr>
    <tr>
      <th>632</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>95.2</td>
      <td>97</td>
      <td>9</td>
      <td>2010</td>
      <td>98.3</td>
      <td>97</td>
    </tr>
    <tr>
      <th>633</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>90.91</td>
      <td>97</td>
      <td>10</td>
      <td>2010</td>
      <td>97.55</td>
      <td>97</td>
    </tr>
    <tr>
      <th>634</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>96.67</td>
      <td>97</td>
      <td>11</td>
      <td>2010</td>
      <td>97.47</td>
      <td>97</td>
    </tr>
    <tr>
      <th>635</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>90.03</td>
      <td>97</td>
      <td>12</td>
      <td>2010</td>
      <td>96.84</td>
      <td>97</td>
    </tr>
    <tr>
      <th>636</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>100</td>
      <td>97</td>
      <td>1</td>
      <td>2011</td>
      <td>100</td>
      <td>97</td>
    </tr>
    <tr>
      <th>637</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>100</td>
      <td>97</td>
      <td>2</td>
      <td>2011</td>
      <td>100</td>
      <td>97</td>
    </tr>
    <tr>
      <th>638</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>97.07</td>
      <td>97</td>
      <td>3</td>
      <td>2011</td>
      <td>98.86</td>
      <td>97</td>
    </tr>
    <tr>
      <th>639</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>
      <td>%</td>
      <td>98.18</td>
      <td>97</td>
      <td>4</td>
      <td>2011</td>
      <td>98.76</td>
      <td>97</td>
    </tr>
    <tr>
      <th>640</th>
      <td>Metro-North Railroad</td>
      <td>Service Indicators</td>
      <td>Percent of the time that escalators are operat...</td>
      <td>M</td>
      <td>Escalator Availability</td>

In [76]:
# from StringIO import StringIO 已过时在Python3中
from io import StringIO
tag='<a href="http://www.google.com">Google</a>'
root=objectify.parse(StringIO(tag)).getroot()
root

In [77]:
root.get('href')

'http://www.google.com'

In [78]:
root.text

'Google'

###二进制数据格式

In [79]:
#实现数据的二进制格式存储最简单的办法之一就是使用Python内置的pickle序列化。
#pandas对象都有一个用于将数据以pickle形式保存到磁盘上的save方法
frame=pd.read_csv('ch06/ex1.csv')
frame

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>hello</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>world</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
      <td>foo</td>
    </tr>
  </tbody>
</table>
</div>

In [82]:
frame.to_pickle('ch06/frame_pickle')#写入文件  书上的sava方法没了

In [84]:
pd.read_pickle('ch06/frame_pickle')#读取二进制  书上的load方法没有了

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>hello</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>world</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
      <td>foo</td>
    </tr>
  </tbody>
</table>
</div>

###使用HDF5格式

In [90]:
#pandas有一个最小化的类似于字典的HDFStore类，它通过PyTables存储pandas对象
#由于没有安装PyTables,所以下面代码运行有错误
store=pd.HDFStore('ch06/mydata.h5')
store['obj1']=frame
store['obj1_col']=frame['a']
store
store['obj1']

###读取Microsoft Excel文件

In [93]:
#pandas的ExcelFile类支持读取xls和xlsx文件，得先安装xlrd和openpyxl包
xls_file=pd.ExcelFile('ch06/book.xlsx')

In [94]:
table=xls_file.parse('Sheet1')

In [95]:
table

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>书名</th>
      <th>索引号</th>
      <th>作者或出版社</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>推荐系统</td>
      <td>ISBN：9787115310699</td>
      <td>[[奥地利] Gerhard Friedrich 等 著；蒋凡 译</td>
    </tr>
    <tr>
      <th>1</th>
      <td>推荐系统实践</td>
      <td>国际标准书号ISBN：9787115281589</td>
      <td>项亮</td>
    </tr>
    <tr>
      <th>2</th>
      <td>SuperMap iClient for Flex从入门到精通</td>
      <td>国际标准书号ISBN：9787302335931</td>
      <td>SuperMap图书编委会</td>
    </tr>
    <tr>
      <th>3</th>
      <td>HTML5与WebGL编程</td>
      <td>ISBN：9787115421333</td>
      <td>[美] Tony Parisi</td>
    </tr>
    <tr>
      <th>4</th>
      <td>HTML5实战</td>
      <td>ISBN：9787115378835</td>
      <td>[英]罗伯·克洛泽（Rob Crowther）</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Python核心编程（第3版）</td>
      <td>ISBN：9787115414779</td>
      <td>美] Wesley Chun 著；孙波翔，李斌，李晗 译</td>
    </tr>
    <tr>
      <th>6</th>
      <td>利用Python进行数据分析</td>
      <td>ISBN：9787111436737</td>
      <td>Wes McKinney 著；唐学韬 等 译</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Python网络数据采集</td>
      <td>ISBN：9787115416292</td>
      <td>[美] 米切尔（Ryan Mitchell） 著；陶俊杰，陈小莉</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Java编程思想(第4版)/计算机科学丛书</td>
      <td>ISBN：9787111213826</td>
      <td>[美] 埃克尔，译者：陈昊鹏 编</td>
    </tr>
    <tr>
      <th>9</th>
      <td>unix网络编程（卷一）</td>
      <td>国际标准书号ISBN：9787115367198</td>
      <td>作者:[美]史蒂文斯　注意，匿名　译</td>
    </tr>
    <tr>
      <th>10</th>
      <td>unix网络编程（卷二）</td>
      <td>国际标准书号ISBN：9787115367204</td>
      <td>作者:[美]史蒂文斯　注意，匿名　译</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Python金融大数据分析</td>
      <td>国际标准书号ISBN：9787115404459</td>
      <td>出版社:人民邮电出版社</td>
    </tr>
    <tr>
      <th>12</th>
      <td>ZigBee无线传感器网络设计与实现</td>
      <td>国际标准书号ISBN：9787122137463</td>
      <td>作者:王小强，欧阳骏，黄宁淋 编著</td>
    </tr>
    <tr>
      <th>13</th>
      <td>和秋叶一起学Word</td>
      <td>ISBN：9787115400239</td>
      <td>出版社： 人民邮电出版社</td>
    </tr>
    <tr>
      <th>14</th>
      <td>和秋叶一起学PPT 又快又好打造说服力幻灯片（第2版）</td>
      <td>ISBN：9787115349446</td>
      <td>出版社： 人民邮电出版社</td>
    </tr>
    <tr>
      <th>15</th>
      <td>谁说菜鸟不会数据分析（5周年特别套装共3册）</td>
      <td>ISBN：11920136</td>
      <td>出版社： 电子工业出版社</td>
    </tr>
  </tbody>
</table>
</div>

In [96]:
table['书名']

0                                 推荐系统
1                               推荐系统实践
2     SuperMap iClient for Flex从入门到精通
3                        HTML5与WebGL编程
4                              HTML5实战
5                     Python核心编程（第3版）
6                       利用Python进行数据分析
7                         Python网络数据采集
8                Java编程思想(第4版)/计算机科学丛书
9                        unix网络编程（卷一）
10                       unix网络编程（卷二）
11                       Python金融大数据分析
12                  ZigBee无线传感器网络设计与实现
13                          和秋叶一起学Word
14         和秋叶一起学PPT 又快又好打造说服力幻灯片（第2版）
15              谁说菜鸟不会数据分析（5周年特别套装共3册）
Name: 书名, dtype: object

###使用HTML和WebAPI

In [102]:
import requests
# url='http://search.twitter.com/search.json?q=python%20pandas'#国内访问不了，大家可以找其他的练习
url='http://api.map.baidu.com/telematics/v3/weather?location=海口&output=json&ak=5slgyqGDENN7Sy7pw29IUvrZ'
resp=requests.get(url)
resp

In [103]:
import json
data=json.loads(resp.text)
data.keys()

dict_keys(['status', 'message'])

In [105]:
data['message']

'APP被用户自己禁用，请在控制台解禁'

###使用数据库

In [108]:
#这里以MySQL数据库为例
# http://www.cnblogs.com/W-Kr/p/5456810.html
import pymysql.cursors
config = {
          'host':'127.0.0.1',
          'port':3306,
          'user':'root',
          'password':'713zjl',
          'db':'wuxing',
          'charset':'utf8mb4',
          'cursorclass':pymysql.cursors.DictCursor,
          }
 
# Connect to the database
connection = pymysql.connect(**config)

#查询
# 执行sql语句
try:
    with connection.cursor() as cursor:
        # 执行sql语句，进行查询
        sql = 'SELECT * from service'
        cursor.execute(sql)
        # 获取查询结果
        # result = cursor.fetchone()
        # result = cursor.fetchmany(5)
        result = cursor.fetchall()
        data=DataFrame(result)
        print(result)
    # 没有设置默认自动提交，需要主动提交，以保存所执行的语句
    connection.commit()
 
finally:
    connection.close()
data

[{'cost': 1.0, 'alility': 1.0, 'id': 1, 'result': 1.714, 'response_time': 286.0}, {'cost': 0.5, 'alility': 0.8, 'id': 2, 'result': 2.053, 'response_time': 247.0}, {'cost': 0.5, 'alility': 0.9, 'id': 3, 'result': 2.146, 'response_time': 254.0}, {'cost': 0.5, 'alility': 0.8, 'id': 4, 'result': 2.039, 'response_time': 261.0}, {'cost': 0.7, 'alility': 0.9, 'id': 5, 'result': 1.869, 'response_time': 331.0}, {'cost': 0.6, 'alility': 0.6, 'id': 6, 'result': 1.797, 'response_time': 203.0}, {'cost': 0.7, 'alility': 0.9, 'id': 7, 'result': 1.998, 'response_time': 202.0}, {'cost': 0.5, 'alility': 0.9, 'id': 8, 'result': 2.2, 'response_time': 200.0}, {'cost': 0.8, 'alility': 0.6, 'id': 9, 'result': 1.621, 'response_time': 179.0}, {'cost': 0.6, 'alility': 0.8, 'id': 10, 'result': 2.029, 'response_time': 171.0}, {'cost': 0.6, 'alility': 0.6, 'id': 11, 'result': 1.683, 'response_time': 317.0}, {'cost': 0.7, 'alility': 0.7, 'id': 12, 'result': 1.772, 'response_time': 228.0}, {'cost': 0.6, 'alility': 0.7, 'id': 13, 'result': 1.857, 'response_time': 243.0}, {'cost': 0.9, 'alility': 0.6, 'id': 14, 'result': 1.402, 'response_time': 298.0}, {'cost': 0.7, 'alility': 1.0, 'id': 15, 'result': 1.97, 'response_time': 330.0}, {'cost': 0.6, 'alility': 0.5, 'id': 16, 'result': 1.68, 'response_time': 220.0}, {'cost': 0.8, 'alility': 1.0, 'id': 17, 'result': 1.937, 'response_time': 263.0}, {'cost': 0.7, 'alility': 1.0, 'id': 18, 'result': 2.081, 'response_time': 219.0}, {'cost': 0.6, 'alility': 0.7, 'id': 19, 'result': 1.899, 'response_time': 201.0}, {'cost': 0.7, 'alility': 0.6, 'id': 20, 'result': 1.693, 'response_time': 207.0}, {'cost': 0.9, 'alility': 1.0, 'id': 21, 'result': 1.798, 'response_time': 302.0}, {'cost': 0.6, 'alility': 0.9, 'id': 22, 'result': 2.042, 'response_time': 258.0}, {'cost': 0.5, 'alility': 0.7, 'id': 23, 'result': 1.92, 'response_time': 280.0}, {'cost': 0.6, 'alility': 0.5, 'id': 24, 'result': 1.594, 'response_time': 306.0}, {'cost': 1.0, 'alility': 1.0, 'id': 25, 'result': 1.647, 'response_time': 353.0}, {'cost': 1.0, 'alility': 0.7, 'id': 26, 'result': 1.489, 'response_time': 211.0}, {'cost': 1.0, 'alility': 0.8, 'id': 27, 'result': 1.562, 'response_time': 238.0}, {'cost': 0.6, 'alility': 0.5, 'id': 28, 'result': 1.693, 'response_time': 207.0}, {'cost': 0.9, 'alility': 1.0, 'id': 29, 'result': 1.904, 'response_time': 196.0}, {'cost': 0.9, 'alility': 0.7, 'id': 30, 'result': 1.603, 'response_time': 197.0}, {'cost': 0.6, 'alility': 0.9, 'id': 31, 'result': 1.876, 'response_time': 424.0}, {'cost': 0.6, 'alility': 0.8, 'id': 32, 'result': 1.711, 'response_time': 489.0}, {'cost': 0.9, 'alility': 0.9, 'id': 33, 'result': 1.601, 'response_time': 399.0}, {'cost': 0.5, 'alility': 0.9, 'id': 34, 'result': 2.032, 'response_time': 368.0}, {'cost': 1.0, 'alility': 0.8, 'id': 35, 'result': 1.497, 'response_time': 303.0}, {'cost': 0.8, 'alility': 0.9, 'id': 36, 'result': 1.791, 'response_time': 309.0}, {'cost': 0.5, 'alility': 0.5, 'id': 37, 'result': 1.57, 'response_time': 430.0}, {'cost': 0.5, 'alility': 1.0, 'id': 38, 'result': 2.188, 'response_time': 312.0}, {'cost': 0.8, 'alility': 0.6, 'id': 39, 'result': 1.513, 'response_time': 287.0}, {'cost': 0.6, 'alility': 0.9, 'id': 40, 'result': 2.077, 'response_time': 223.0}, {'cost': 0.9, 'alility': 0.6, 'id': 41, 'result': 1.423, 'response_time': 277.0}, {'cost': 0.5, 'alility': 0.9, 'id': 42, 'result': 2.153, 'response_time': 247.0}, {'cost': 1.0, 'alility': 1.0, 'id': 43, 'result': 1.647, 'response_time': 353.0}, {'cost': 1.0, 'alility': 0.8, 'id': 44, 'result': 1.571, 'response_time': 229.0}, {'cost': 1.0, 'alility': 0.9, 'id': 45, 'result': 1.653, 'response_time': 247.0}, {'cost': 1.0, 'alility': 1.0, 'id': 46, 'result': 1.798, 'response_time': 202.0}, {'cost': 0.8, 'alility': 0.7, 'id': 47, 'result': 1.707, 'response_time': 193.0}, {'cost': 1.0, 'alility': 0.8, 'id': 48, 'result': 1.607, 'response_time': 193.0}, {'cost': 0.8, 'alility': 0.7, 'id': 49, 'result': 1.573, 'response_time': 327.0}, {'cost': 0.9, 'alility': 1.0, 'id': 50, 'result': 1.876, 'response_time': 224.0}, {'cost': 0.8, 'alility': 0.5, 'id': 51, 'result': 1.483, 'response_time': 217.0}, {'cost': 0.8, 'alility': 0.9, 'id': 52, 'result': 1.901, 'response_time': 199.0}, {'cost': 0.8, 'alility': 0.7, 'id': 53, 'result': 1.668, 'response_time': 232.0}, {'cost': 0.9, 'alility': 0.6, 'id': 54, 'result': 1.498, 'response_time': 202.0}, {'cost': 0.5, 'alility': 1.0, 'id': 55, 'result': 2.31, 'response_time': 190.0}, {'cost': 0.7, 'alility': 0.6, 'id': 56, 'result': 1.726, 'response_time': 174.0}, {'cost': 0.5, 'alility': 0.5, 'id': 57, 'result': 1.778, 'response_time': 222.0}, {'cost': 0.7, 'alility': 0.6, 'id': 58, 'result': 1.717, 'response_time': 183.0}, {'cost': 0.8, 'alility': 0.5, 'id': 59, 'result': 1.352, 'response_time': 348.0}, {'cost': 0.6, 'alility': 0.9, 'id': 60, 'result': 2.073, 'response_time': 227.0}, {'cost': 0.8, 'alility': 0.7, 'id': 61, 'result': 1.673, 'response_time': 227.0}, {'cost': 0.9, 'alility': 1.0, 'id': 62, 'result': 1.881, 'response_time': 219.0}, {'cost': 0.7, 'alility': 1.0, 'id': 63, 'result': 2.004, 'response_time': 296.0}, {'cost': 0.9, 'alility': 0.9, 'id': 64, 'result': 1.801, 'response_time': 199.0}, {'cost': 0.8, 'alility': 0.6, 'id': 65, 'result': 1.603, 'response_time': 197.0}, {'cost': 0.7, 'alility': 0.5, 'id': 66, 'result': 1.617, 'response_time': 183.0}, {'cost': 0.9, 'alility': 1.0, 'id': 67, 'result': 1.907, 'response_time': 193.0}, {'cost': 0.5, 'alility': 0.5, 'id': 68, 'result': 1.802, 'response_time': 198.0}, {'cost': 0.6, 'alility': 0.7, 'id': 69, 'result': 1.772, 'response_time': 328.0}, {'cost': 0.8, 'alility': 0.7, 'id': 70, 'result': 1.673, 'response_time': 227.0}, {'cost': 0.9, 'alility': 0.7, 'id': 71, 'result': 1.572, 'response_time': 228.0}, {'cost': 0.7, 'alility': 1.0, 'id': 72, 'result': 2.117, 'response_time': 183.0}, {'cost': 0.8, 'alility': 0.9, 'id': 73, 'result': 1.869, 'response_time': 231.0}, {'cost': 0.6, 'alility': 0.6, 'id': 74, 'result': 1.835, 'response_time': 165.0}, {'cost': 0.8, 'alility': 0.7, 'id': 75, 'result': 1.714, 'response_time': 186.0}, {'cost': 0.6, 'alility': 0.5, 'id': 76, 'result': 1.709, 'response_time': 191.0}, {'cost': 0.9, 'alility': 0.7, 'id': 77, 'result': 1.583, 'response_time': 217.0}, {'cost': 1.0, 'alility': 0.9, 'id': 78, 'result': 1.717, 'response_time': 183.0}]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>alility</th>
      <th>cost</th>
      <th>id</th>
      <th>response_time</th>
      <th>result</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1</td>
      <td>286.0</td>
      <td>1.714</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.8</td>
      <td>0.5</td>
      <td>2</td>
      <td>247.0</td>
      <td>2.053</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.9</td>
      <td>0.5</td>
      <td>3</td>
      <td>254.0</td>
      <td>2.146</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.8</td>
      <td>0.5</td>
      <td>4</td>
      <td>261.0</td>
      <td>2.039</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.9</td>
      <td>0.7</td>
      <td>5</td>
      <td>331.0</td>
      <td>1.869</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.6</td>
      <td>0.6</td>
      <td>6</td>
      <td>203.0</td>
      <td>1.797</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.9</td>
      <td>0.7</td>
      <td>7</td>
      <td>202.0</td>
      <td>1.998</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0.9</td>
      <td>0.5</td>
      <td>8</td>
      <td>200.0</td>
      <td>2.200</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0.6</td>
      <td>0.8</td>
      <td>9</td>
      <td>179.0</td>
      <td>1.621</td>
    </tr>
    <tr>
      <th>9</th>
      <td>0.8</td>
      <td>0.6</td>
      <td>10</td>
      <td>171.0</td>
      <td>2.029</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0.6</td>
      <td>0.6</td>
      <td>11</td>
      <td>317.0</td>
      <td>1.683</td>
    </tr>
    <tr>
      <th>11</th>
      <td>0.7</td>
      <td>0.7</td>
      <td>12</td>
      <td>228.0</td>
      <td>1.772</td>
    </tr>
    <tr>
      <th>12</th>
      <td>0.7</td>
      <td>0.6</td>
      <td>13</td>
      <td>243.0</td>
      <td>1.857</td>
    </tr>
    <tr>
      <th>13</th>
      <td>0.6</td>
      <td>0.9</td>
      <td>14</td>
      <td>298.0</td>
      <td>1.402</td>
    </tr>
    <tr>
      <th>14</th>
      <td>1.0</td>
      <td>0.7</td>
      <td>15</td>
      <td>330.0</td>
      <td>1.970</td>
    </tr>
    <tr>
      <th>15</th>
      <td>0.5</td>
      <td>0.6</td>
      <td>16</td>
      <td>220.0</td>
      <td>1.680</td>
    </tr>
    <tr>
      <th>16</th>
      <td>1.0</td>
      <td>0.8</td>
      <td>17</td>
      <td>263.0</td>
      <td>1.937</td>
    </tr>
    <tr>
      <th>17</th>
      <td>1.0</td>
      <td>0.7</td>
      <td>18</td>
      <td>219.0</td>
      <td>2.081</td>
    </tr>
    <tr>
      <th>18</th>
      <td>0.7</td>
      <td>0.6</td>
      <td>19</td>
      <td>201.0</td>
      <td>1.899</td>
    </tr>
    <tr>
      <th>19</th>
      <td>0.6</td>
      <td>0.7</td>
      <td>20</td>
      <td>207.0</td>
      <td>1.693</td>
    </tr>
    <tr>
      <th>20</th>
      <td>1.0</td>
      <td>0.9</td>
      <td>21</td>
      <td>302.0</td>
      <td>1.798</td>
    </tr>
    <tr>
      <th>21</th>
      <td>0.9</td>
      <td>0.6</td>
      <td>22</td>
      <td>258.0</td>
      <td>2.042</td>
    </tr>
    <tr>
      <th>22</th>
      <td>0.7</td>
      <td>0.5</td>
      <td>23</td>
      <td>280.0</td>
      <td>1.920</td>
    </tr>
    <tr>
      <th>23</th>
      <td>0.5</td>
      <td>0.6</td>
      <td>24</td>
      <td>306.0</td>
      <td>1.594</td>
    </tr>
    <tr>
      <th>24</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>25</td>
      <td>353.0</td>
      <td>1.647</td>
    </tr>
    <tr>
      <th>25</th>
      <td>0.7</td>
      <td>1.0</td>
      <td>26</td>
      <td>211.0</td>
      <td>1.489</td>
    </tr>
    <tr>
      <th>26</th>
      <td>0.8</td>
      <td>1.0</td>
      <td>27</td>
      <td>238.0</td>
      <td>1.562</td>
    </tr>
    <tr>
      <th>27</th>
      <td>0.5</td>
      <td>0.6</td>
      <td>28</td>
      <td>207.0</td>
      <td>1.693</td>
    </tr>
    <tr>
      <th>28</th>
      <td>1.0</td>
      <td>0.9</td>
      <td>29</td>
      <td>196.0</td>
      <td>1.904</td>
    </tr>
    <tr>
      <th>29</th>
      <td>0.7</td>
      <td>0.9</td>
      <td>30</td>
      <td>197.0</td>
      <td>1.603</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>48</th>
      <td>0.7</td>
      <td>0.8</td>
      <td>49</td>
      <td>327.0</td>
      <td>1.573</td>
    </tr>
    <tr>
      <th>49</th>
      <td>1.0</td>
      <td>0.9</td>
      <td>50</td>
      <td>224.0</td>
      <td>1.876</td>
    </tr>
    <tr>
      <th>50</th>
      <td>0.5</td>
      <td>0.8</td>
      <td>51</td>
      <td>217.0</td>
      <td>1.483</td>
    </tr>
    <tr>
      <th>51</th>
      <td>0.9</td>
      <td>0.8</td>
      <td>52</td>
      <td>199.0</td>
      <td>1.901</td>
    </tr>
    <tr>
      <th>52</th>
      <td>0.7</td>
      <td>0.8</td>
      <td>53</td>
      <td>232.0</td>
      <td>1.668</td>
    </tr>
    <tr>
      <th>53</th>
      <td>0.6</td>
      <td>0.9</td>
      <td>54</td>
      <td>202.0</td>
      <td>1.498</td>
    </tr>
    <tr>
      <th>54</th>
      <td>1.0</td>
      <td>0.5</td>
      <td>55</td>
      <td>190.0</td>
      <td>2.310</td>
    </tr>
    <tr>
      <th>55</th>
      <td>0.6</td>
      <td>0.7</td>
      <td>56</td>
      <td>174.0</td>
      <td>1.726</td>
    </tr>
    <tr>
      <th>56</th>
      <td>0.5</td>
      <td>0.5</td>
      <td>57</td>
      <td>222.0</td>
      <td>1.778</td>
    </tr>
    <tr>
      <th>57</th>
      <td>0.6</td>
      <td>0.7</td>
      <td>58</td>
      <td>183.0</td>
      <td>1.717</td>
    </tr>
    <tr>
      <th>58</th>
      <td>0.5</td>
      <td>0.8</td>
      <td>59</td>
      <td>348.0</td>
      <td>1.352</td>
    </tr>
    <tr>
      <th>59</th>
      <td>0.9</td>
      <td>0.6</td>
      <td>60</td>
      <td>227.0</td>
      <td>2.073</td>
    </tr>
    <tr>
      <th>60</th>
      <td>0.7</td>
      <td>0.8</td>
      <td>61</td>
      <td>227.0</td>
      <td>1.673</td>
    </tr>
    <tr>
      <th>61</th>
      <td>1.0</td>
      <td>0.9</td>
      <td>62</td>
      <td>219.0</td>
      <td>1.881</td>
    </tr>
    <tr>
      <th>62</th>
      <td>1.0</td>
      <td>0.7</td>
      <td>63</td>
      <td>296.0</td>
      <td>2.004</td>
    </tr>
    <tr>
      <th>63</th>
      <td>0.9</td>
      <td>0.9</td>
      <td>64</td>
      <td>199.0</td>
      <td>1.801</td>
    </tr>
    <tr>
      <th>64</th>
      <td>0.6</td>
      <td>0.8</td>
      <td>65</td>
      <td>197.0</td>
      <td>1.603</td>
    </tr>
    <tr>
      <th>65</th>
      <td>0.5</td>
      <td>0.7</td>
      <td>66</td>
      <td>183.0</td>
      <td>1.617</td>
    </tr>
    <tr>
      <th>66</th>
      <td>1.0</td>
      <td>0.9</td>
      <td>67</td>
      <td>193.0</td>
      <td>1.907</td>
    </tr>
    <tr>
      <th>67</th>
      <td>0.5</td>
      <td>0.5</td>
      <td>68</td>
      <td>198.0</td>
      <td>1.802</td>
    </tr>
    <tr>
      <th>68</th>
      <td>0.7</td>
      <td>0.6</td>
      <td>69</td>
      <td>328.0</td>
      <td>1.772</td>
    </tr>
    <tr>
      <th>69</th>
      <td>0.7</td>
      <td>0.8</td>
      <td>70</td>
      <td>227.0</td>
      <td>1.673</td>
    </tr>
    <tr>
      <th>70</th>
      <td>0.7</td>
      <td>0.9</td>
      <td>71</td>
      <td>228.0</td>
      <td>1.572</td>
    </tr>
    <tr>
      <th>71</th>
      <td>1.0</td>
      <td>0.7</td>
      <td>72</td>
      <td>183.0</td>
      <td>2.117</td>
    </tr>
    <tr>
      <th>72</th>
      <td>0.9</td>
      <td>0.8</td>
      <td>73</td>
      <td>231.0</td>
      <td>1.869</td>
    </tr>
    <tr>
      <th>73</th>
      <td>0.6</td>
      <td>0.6</td>
      <td>74</td>
      <td>165.0</td>
      <td>1.835</td>
    </tr>
    <tr>
      <th>74</th>
      <td>0.7</td>
      <td>0.8</td>
      <td>75</td>
      <td>186.0</td>
      <td>1.714</td>
    </tr>
    <tr>
      <th>75</th>
      <td>0.5</td>
      <td>0.6</td>
      <td>76</td>
      <td>191.0</td>
      <td>1.709</td>
    </tr>
    <tr>
      <th>76</th>
      <td>0.7</td>
      <td>0.9</td>
      <td>77</td>
      <td>217.0</td>
      <td>1.583</td>
    </tr>
    <tr>
      <th>77</th>
      <td>0.9</td>
      <td>1.0</td>
      <td>78</td>
      <td>183.0</td>
      <td>1.717</td>
    </tr>
  </tbody>
</table>
<p>78 rows × 5 columns</p>
</div>