In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
obj = pd.Series([4, 7, -5, 3])

In [3]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [5]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [8]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [9]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [10]:
obj2['a']

-5

In [11]:
obj2['d']

4

In [12]:
obj2[['c', 'a', 'd']]

c    3
a   -5
d    4
dtype: int64

In [13]:
obj2[obj2 > 0]

d    4
b    7
c    3
dtype: int64

In [14]:
obj2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [15]:
import numpy as np
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [16]:
'b' in obj2

True

In [17]:
'e' in obj2

False

In [19]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)

In [20]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [21]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [22]:
obj4 = pd.Series(sdata, index=states)

In [23]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [24]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [25]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [26]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [27]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [28]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [29]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [30]:
obj4.name = 'population'

In [31]:
obj4.index.name = 'state'

In [32]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [33]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [34]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [35]:
obj.index = ["Bob", 'Steve', 'Jeff', 'Ryan']

In [36]:
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [46]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year':[2000, 2001, 2002, 2001, 2002, 2003], 
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]        }

In [52]:
frame = pd.DataFrame(data)

In [48]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [49]:
frame.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [50]:
pd.DataFrame(data, columns=['year', 'state', 'pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

In [53]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
            index=['one', 'two', 'three', 'four', 'five', 'six'])

In [54]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [55]:
frame2['state']

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object

In [56]:
frame2.year

one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

In [57]:
frame2.loc['three']

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

In [58]:
frame2.debt = 16.5

In [60]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5
six    2003  Nevada  3.2  16.5

In [63]:
frame2['debt'] = np.arange(6.)

In [64]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   0.0
two    2001    Ohio  1.7   1.0
three  2002    Ohio  3.6   2.0
four   2001  Nevada  2.4   3.0
five   2002  Nevada  2.9   4.0
six    2003  Nevada  3.2   5.0

In [65]:
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])

In [66]:
frame2['debt'] = val

In [67]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN

In [68]:
frame2['eastern'] = frame2.state =='Ohio'

In [69]:
frame2

       year   state  pop  debt  eastern
one    2000    Ohio  1.5   NaN     True
two    2001    Ohio  1.7  -1.2     True
three  2002    Ohio  3.6   NaN     True
four   2001  Nevada  2.4  -1.5    False
five   2002  Nevada  2.9  -1.7    False
six    2003  Nevada  3.2   NaN    False

In [70]:
del frame2['eastern']

In [71]:
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

In [72]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN

In [79]:
pop = {'Nevada':{2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [74]:
frame3 = pd.DataFrame(pop)

In [75]:
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [76]:
frame3.T

        2000  2001  2002
Nevada   NaN   2.4   2.9
Ohio     1.5   1.7   3.6

In [116]:
pd.DataFrame(pop, index=pd.Index([2001, 2002, 2003]))
#pd.DataFrame(pop, index=pd.Index([2001, 2002, 2003])).index
#这里和书上有出入，加一个pd.Index可行
#pd.DataFrame(pop,columns = ['Nevada','Ohio'], index=[2001, 2002, 2003]);
#pd.DataFrame(pop,columns = ['Nevada','Ohio'], index=[2001, 2002, 2003]).index

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2003     NaN   NaN

In [81]:
pdata = {'Ohio': frame3['Ohio'][:-1],
         'Nevada': frame3['Nevada'][:2]}

In [82]:
pd.DataFrame(pdata)

      Ohio  Nevada
2000   1.5     NaN
2001   1.7     2.4

In [87]:
frame3.index.name = 'year';
frame3.columns.name = 'state'

In [88]:
frame3

state  Nevada  Ohio
year
2000      NaN   1.5
2001      2.4   1.7
2002      2.9   3.6

In [89]:
frame3.values

array([[nan, 1.5],
       [2.4, 1.7],
       [2.9, 3.6]])

In [90]:
frame2.values

array([[2000, 'Ohio', 1.5, nan],
       [2001, 'Ohio', 1.7, -1.2],
       [2002, 'Ohio', 3.6, nan],
       [2001, 'Nevada', 2.4, -1.5],
       [2002, 'Nevada', 2.9, -1.7],
       [2003, 'Nevada', 3.2, nan]], dtype=object)

In [91]:
obj = pd.Series(range(3), index=['a', 'b', 'c'])

In [92]:
index = obj.index

In [93]:
index

Index(['a', 'b', 'c'], dtype='object')

In [94]:
index[1:]

Index(['b', 'c'], dtype='object')

In [95]:
index[1] = 'd'

TypeError: Index does not support mutable operations

In [96]:
labels = pd.Index(np.arange(3))

In [97]:
labels

Int64Index([0, 1, 2], dtype='int64')

In [98]:
obj2 = pd.Series([1.5, -2.5, 0], index = labels)

In [99]:
obj2

0    1.5
1   -2.5
2    0.0
dtype: float64

In [100]:
obj2.index is labels

True

In [101]:
frame3

state  Nevada  Ohio
year
2000      NaN   1.5
2001      2.4   1.7
2002      2.9   3.6

In [102]:
frame3.columns

Index(['Nevada', 'Ohio'], dtype='object', name='state')

In [103]:
'Ohio' in frame3

True

In [104]:
'Ohio' in frame3.columns

True

In [105]:
2003 in frame3.index

False

In [106]:
dup_labels = pd.Index(['foo','foo', 'bar','bar'], dtype='object')

In [107]:
dup_labels

Index(['foo', 'foo', 'bar', 'bar'], dtype='object')

In [117]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])

In [118]:
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [119]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])

In [120]:
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [121]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])

In [122]:
obj3

0      blue
2    purple
4    yellow
dtype: object

In [123]:
obj3.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [124]:
frame = pd.DataFrame(np.arange(9).reshape((3,3)),
                    index=['a', 'c', 'd'],
                    columns=['Ohio', 'Texas', 'California'])

In [125]:
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [126]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])

In [127]:
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [128]:
states = ['Texas', 'Utah', 'California']

In [129]:
frame.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [130]:
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])

In [131]:
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [133]:
new_obj = obj.drop('c')

In [134]:
new_obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [135]:
obj.drop(['d','c'])

a    0.0
b    1.0
e    4.0
dtype: float64

In [137]:
data = pd.DataFrame(np.arange(16).reshape((4,4)),
                   index=['Ohio', 'Colorado', 'Utah', 'New York'],
                   columns=['one', 'two', 'three', 'four'])

In [138]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [139]:
data.drop('two', axis=1)

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

In [141]:
data.drop(['Colorado', 'Ohio'])

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [142]:
data.drop(['one', 'four'], axis='columns')

          two  three
Ohio        1      2
Colorado    5      6
Utah        9     10
New York   13     14

In [143]:
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [144]:
obj.drop('c', inplace=False)

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [145]:
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [146]:
obj.drop('c', inplace=True)

In [147]:
obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [148]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])

In [149]:
obj

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [150]:
obj['b']

1.0

In [151]:
obj[1]

1.0

In [152]:
obj[2:4]

c    2.0
d    3.0
dtype: float64

In [153]:
obj[['b', 'a', 'd']]

b    1.0
a    0.0
d    3.0
dtype: float64

In [154]:
obj[[1,3]]

b    1.0
d    3.0
dtype: float64

In [156]:
obj<2

a     True
b     True
c    False
d    False
dtype: bool

In [157]:
obj[obj<2]

a    0.0
b    1.0
dtype: float64

In [160]:
obj['b':'c']

b    1.0
c    2.0
dtype: float64

In [161]:
obj['b': 'a']
#反着排序得到的这个是？空序列？

Series([], dtype: float64)

In [162]:
obj['b': 'c'] = 5

In [163]:
obj

a    0.0
b    5.0
c    5.0
d    3.0
dtype: float64

In [164]:
data = pd.DataFrame(np.arange(16).reshape((4,4)),
                   index=['Ohio', 'Colorado', 'Utah', 'New York'],
                   columns=['one', 'two', 'three', 'four'])

In [165]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [166]:
data['two']

Ohio         1
Colorado     5
Utah         9
New York    13
Name: two, dtype: int32

In [167]:
data[['three', 'one']]

          three  one
Ohio          2    0
Colorado      6    4
Utah         10    8
New York     14   12

In [168]:
data[:2]

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7

In [169]:
data[data['three']>5]

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [170]:
data<5

            one    two  three   four
Ohio       True   True   True   True
Colorado   True  False  False  False
Utah      False  False  False  False
New York  False  False  False  False

In [171]:
data[data < 5] = 0

In [172]:
data

          one  two  three  four
Ohio        0    0      0     0
Colorado    0    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [173]:
data.loc['Colorado',['two','three']]

two      5
three    6
Name: Colorado, dtype: int32

In [174]:
data.iloc[2, [3, 0,1]]

four    11
one      8
two      9
Name: Utah, dtype: int32

In [175]:
data.iloc[2]

one       8
two       9
three    10
four     11
Name: Utah, dtype: int32

In [176]:
data.iloc[[1, 2], [3, 0, 1]]

          four  one  two
Colorado     7    0    5
Utah        11    8    9

In [177]:
data.loc[:'Utah', 'two']

Ohio        0
Colorado    5
Utah        9
Name: two, dtype: int32

In [178]:
data.loc[:'Utah', 'three']

Ohio         0
Colorado     6
Utah        10
Name: three, dtype: int32

In [180]:
data.iloc[:, :3][data.three>5]

          one  two  three
Colorado    0    5      6
Utah        8    9     10
New York   12   13     14

In [181]:
ser = pd.Series(np.arange(3.))

In [182]:
ser

0    0.0
1    1.0
2    2.0
dtype: float64

In [183]:
ser[-1]

KeyError: -1

In [184]:
ser2 = pd.Series(np.arange(3.), index=['a', 'b', 'c'])

In [185]:
ser2[-1]

2.0

In [186]:
ser[:1]

0    0.0
dtype: float64

In [187]:
ser.loc[:1]

0    0.0
1    1.0
dtype: float64

In [188]:
ser.iloc[:1]

0    0.0
dtype: float64

In [189]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])

In [190]:
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])

In [191]:
s1

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

In [192]:
s2

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [193]:
s1 +s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [194]:
df1 = pd.DataFrame(np.arange(9.).reshape((3,3)), columns=list('bcd'),
                  index=['Ohio', "Texas", 'Colorado'])

In [195]:
df2 = pd.DataFrame(np.arange(12.).reshape((4,3)),columns=list('bde'),
                  index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [196]:
df1

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0

In [197]:
df2

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [198]:
df1 + df2

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

In [199]:
df1 = pd.DataFrame({'A':[1, 2]})

In [203]:
df2 = pd.DataFrame({'B': [3, 4]})

In [204]:
df1 - df2

    A   B
0 NaN NaN
1 NaN NaN

In [205]:
df1 = pd.DataFrame(np.arange(12.).reshape((3,4)),
                  columns=list('abcd'))

In [206]:
df2 = pd.DataFrame(np.arange(20.).reshape((4,5)),
                  columns=list('abcde'))

In [207]:
df2.loc[1, 'b'] = np.nan

In [208]:
df1

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

In [209]:
df2

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   NaN   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [210]:
df1+df2

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0   NaN  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [211]:
df1.add(df2, fill_value=0)

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0   5.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [212]:
1/df1

          a         b         c         d
0       inf  1.000000  0.500000  0.333333
1  0.250000  0.200000  0.166667  0.142857
2  0.125000  0.111111  0.100000  0.090909

In [213]:
df1.rdiv(1)

          a         b         c         d
0       inf  1.000000  0.500000  0.333333
1  0.250000  0.200000  0.166667  0.142857
2  0.125000  0.111111  0.100000  0.090909

In [214]:
df1.reindex(columns=df2.columns,fill_value=0)

     a    b     c     d  e
0  0.0  1.0   2.0   3.0  0
1  4.0  5.0   6.0   7.0  0
2  8.0  9.0  10.0  11.0  0

In [215]:
arr = np.arange(12.).reshape((3,4))

In [216]:
arr

array([[ 0.,  1.,  2.,  3.],
       [ 4.,  5.,  6.,  7.],
       [ 8.,  9., 10., 11.]])

In [217]:
arr[0]

array([0., 1., 2., 3.])

In [218]:
arr - arr[0]

array([[0., 0., 0., 0.],
       [4., 4., 4., 4.],
       [8., 8., 8., 8.]])

In [220]:
frame = pd.DataFrame(np.arange(12.).reshape((4,3)),
                    columns=list('bde'),
                    index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [221]:
series = frame.iloc[0]

In [222]:
frame

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [223]:
series

b    0.0
d    1.0
e    2.0
Name: Utah, dtype: float64

In [224]:
frame - series

          b    d    e
Utah    0.0  0.0  0.0
Ohio    3.0  3.0  3.0
Texas   6.0  6.0  6.0
Oregon  9.0  9.0  9.0

In [227]:
series2 = pd.Series(range(3),index=list('bef'))

In [228]:
frame + series2

          b   d     e   f
Utah    0.0 NaN   3.0 NaN
Ohio    3.0 NaN   6.0 NaN
Texas   6.0 NaN   9.0 NaN
Oregon  9.0 NaN  12.0 NaN

In [229]:
series3 = frame['d']

In [230]:
frame

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [231]:
series3

Utah       1.0
Ohio       4.0
Texas      7.0
Oregon    10.0
Name: d, dtype: float64

In [232]:
frame.sub(series3, axis='index')

          b    d    e
Utah   -1.0  0.0  1.0
Ohio   -1.0  0.0  1.0
Texas  -1.0  0.0  1.0
Oregon -1.0  0.0  1.0

In [237]:
frame = pd.DataFrame(np.random.randn(4,3),columns=list('bde'),
                    index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [238]:
frame

               b         d         e
Utah   -0.137026  0.515921  1.047895
Ohio    0.676222 -0.185447  0.053846
Texas   0.174842  1.642268  2.066507
Oregon  1.528258 -0.506759 -1.101746

In [239]:
np.abs(frame)

               b         d         e
Utah    0.137026  0.515921  1.047895
Ohio    0.676222  0.185447  0.053846
Texas   0.174842  1.642268  2.066507
Oregon  1.528258  0.506759  1.101746

In [240]:
f = lambda x: x.max() - x.min()

In [241]:
f

In [242]:
frame.apply(f)

b    1.665284
d    2.149027
e    3.168253
dtype: float64

In [243]:
frame.apply(f, axis='columns')

Utah      1.184921
Ohio      0.861670
Texas     1.891665
Oregon    2.630004
dtype: float64

In [244]:
frame.apply(f, axis='rows')

b    1.665284
d    2.149027
e    3.168253
dtype: float64

In [245]:
def f(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

In [246]:
frame.apply(f)

            b         d         e
min -0.137026 -0.506759 -1.101746
max  1.528258  1.642268  2.066507

In [248]:
format = lambda x: '%.2f' %x

In [249]:
frame.applymap(format)

            b      d      e
Utah    -0.14   0.52   1.05
Ohio     0.68  -0.19   0.05
Texas    0.17   1.64   2.07
Oregon   1.53  -0.51  -1.10

In [250]:
frame['e'].map(format)

Utah       1.05
Ohio       0.05
Texas      2.07
Oregon    -1.10
Name: e, dtype: object

In [251]:
obj = pd.Series(range(4), index=list('dabc'))

In [252]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [254]:
frame = pd.DataFrame(np.arange(8).reshape((2,4)),
                    index=['three', 'one'],
                    columns=list('dabc'))

In [255]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [256]:
frame.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [257]:
frame.sort_index(axis=1, ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [258]:
obj = pd.Series([4, 7, -3, 2])

In [259]:
obj.sort_values()

2   -3
3    2
0    4
1    7
dtype: int64

In [260]:
obj = pd.Series([4, np.nan, 7, np.nan, -3, 2])

In [261]:
obj.sort_values()

4   -3.0
5    2.0
0    4.0
2    7.0
1    NaN
3    NaN
dtype: float64

In [262]:
frame = pd.DataFrame({'b': [4, 7, -3, 2],
                      'a': [0, 1, 0, 1]})

In [263]:
frame

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [264]:
frame.sort_values(by='b')

   b  a
2 -3  0
3  2  1
0  4  0
1  7  1

In [265]:
frame.sort_values(by=['a', 'b'])

   b  a
2 -3  0
0  4  0
3  2  1
1  7  1

In [266]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])

In [267]:
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [268]:
obj.rank(method='first')

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [269]:
obj.rank(ascending=False, method='max')

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

In [270]:
frame=pd.DataFrame({'b': [4.3, 7, -3, 2],
                    'c': [-2, 5, 8, -2.5]})

In [271]:
frame

     b    c
0  4.3 -2.0
1  7.0  5.0
2 -3.0  8.0
3  2.0 -2.5

In [272]:
frame.rank(axis='columns')

     b    c
0  2.0  1.0
1  2.0  1.0
2  1.0  2.0
3  2.0  1.0

In [273]:
obj = pd.Series(range(5),index=list('aabbc'))

In [274]:
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [275]:
obj.index.is_unique

False

In [277]:
obj['a']

a    0
a    1
dtype: int64

In [278]:
obj['c']

4

In [279]:
df = pd.DataFrame(np.random.randn(4,3), index=list('aabb'))

In [280]:
df

          0         1         2
a  1.294224  0.439243  0.490631
a  0.720759  0.983636  1.774537
b  0.255654  1.092561  0.577122
b -0.550703 -1.188966  1.041778

In [281]:
df.loc['b']

          0         1         2
b  0.255654  1.092561  0.577122
b -0.550703 -1.188966  1.041778

In [282]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan],[0.75, -1.3]],
                 index=list('abcd'),
                 columns=['one', 'two'])

In [283]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [284]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [285]:
df.sum(axis=1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [286]:
df.mean(axis='columns', skipna=False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [287]:
df.idxmax()

one    b
two    d
dtype: object

In [288]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [289]:
df.describe()
#描述统计

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [290]:
obj = pd.Series(list('aabc')*4)

In [291]:
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

In [7]:
import pandas_datareader.data as web
import datetime
 
start = datetime.datetime(2016, 1, 1)
end = datetime.datetime(2016,1,8)
prices = web.DataReader('AAPL','quandl',start,end)
prices.sort_values(by=['Date'])
#解决方法https://zhuanlan.zhihu.com/p/41301451

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2016-01-04,102.61,105.368,102.00,105.35,67649387.0,0.0,1.0,99.136516,101.801154,98.547165,101.783763,67649387.0
2016-01-05,105.75,105.850,102.41,102.71,55790992.0,0.0,1.0,102.170223,102.266838,98.943286,99.233131,55790992.0
2016-01-06,100.56,102.370,99.87,100.70,68457388.0,0.0,1.0,97.155911,98.904640,96.489269,97.291172,68457388.0
2016-01-07,98.68,100.130,96.43,96.45,81094428.0,0.0,1.0,95.339552,96.740467,93.165717,93.185040,81094428.0
2016-01-08,98.55,99.110,96.76,96.96,70798016.0,0.0,1.0,95.213952,95.754996,93.484546,93.677776,70798016.0

In [9]:
prices

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2016-01-08,98.55,99.110,96.76,96.96,70798016.0,0.0,1.0,95.213952,95.754996,93.484546,93.677776,70798016.0
2016-01-07,98.68,100.130,96.43,96.45,81094428.0,0.0,1.0,95.339552,96.740467,93.165717,93.185040,81094428.0
2016-01-06,100.56,102.370,99.87,100.70,68457388.0,0.0,1.0,97.155911,98.904640,96.489269,97.291172,68457388.0
2016-01-05,105.75,105.850,102.41,102.71,55790992.0,0.0,1.0,102.170223,102.266838,98.943286,99.233131,55790992.0
2016-01-04,102.61,105.368,102.00,105.35,67649387.0,0.0,1.0,99.136516,101.801154,98.547165,101.783763,67649387.0

In [10]:
returns = prices.pct_change()

In [11]:
returns.tail()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2016-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-07,0.001319,0.010292,-0.003411,-0.005260,0.145434,NaN,0.0,0.001319,0.010292,-0.003411,-0.005260,0.145434
2016-01-06,0.019051,0.022371,0.035674,0.044064,-0.155831,NaN,0.0,0.019051,0.022371,0.035674,0.044064,-0.155831
2016-01-05,0.051611,0.033994,0.025433,0.019960,-0.185026,NaN,0.0,0.051611,0.033994,0.025433,0.019960,-0.185026
2016-01-04,-0.029693,-0.004554,-0.004004,0.025703,0.212550,NaN,0.0,-0.029693,-0.004554,-0.004004,0.025703,0.212550

In [13]:
returns['High'].corr(returns['Low'])

0.8105941081336339

In [14]:
returns.High.corr(returns.Low)

0.8105941081336339

In [15]:
returns.corr()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Open,1.000000,0.993642,0.746790,0.099464,-0.905322,NaN,NaN,1.000000,0.993642,0.746790,0.099464,-0.905322
High,0.993642,1.000000,0.810594,0.179998,-0.941325,NaN,NaN,0.993642,1.000000,0.810594,0.179998,-0.941325
Low,0.746790,0.810594,1.000000,0.696711,-0.957282,NaN,NaN,0.746790,0.810594,1.000000,0.696711,-0.957282
Close,0.099464,0.179998,0.696711,1.000000,-0.499363,NaN,NaN,0.099464,0.179998,0.696711,1.000000,-0.499363
Volume,-0.905322,-0.941325,-0.957282,-0.499363,1.000000,NaN,NaN,-0.905322,-0.941325,-0.957282,-0.499363,1.000000
ExDividend,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SplitRatio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AdjOpen,1.000000,0.993642,0.746790,0.099464,-0.905322,NaN,NaN,1.000000,0.993642,0.746790,0.099464,-0.905322
AdjHigh,0.993642,1.000000,0.810594,0.179998,-0.941325,NaN,NaN,0.993642,1.000000,0.810594,0.179998,-0.941325
AdjLow,0.746790,0.810594,1.000000,0.696711,-0.957282,NaN,NaN,0.746790,0.810594,1.000000,0.696711,-0.957282
AdjClose,0.099464,0.179998,0.696711,1.000000,-0.499363,NaN,NaN,0.099464,0.179998,0.696711,1.000000,-0.499363
AdjVolume,-0.905322,-0.941325,-0.957282,-0.499363,1.000000,NaN,NaN,-0.905322,-0.941325,-0.957282,-0.499363,1.000000

In [16]:
returns.cov()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Open,0.001154,0.000558,0.000513,0.000069,-0.006273,NaN,0.0,0.001154,0.000558,0.000513,0.000069,-0.006273
High,0.000558,0.000273,0.000271,0.000061,-0.003171,NaN,0.0,0.000558,0.000273,0.000271,0.000061,-0.003171
Low,0.000513,0.000271,0.000409,0.000287,-0.003947,NaN,0.0,0.000513,0.000271,0.000409,0.000287,-0.003947
Close,0.000069,0.000061,0.000287,0.000415,-0.002074,NaN,0.0,0.000069,0.000061,0.000287,0.000415,-0.002074
Volume,-0.006273,-0.003171,-0.003947,-0.002074,0.041591,NaN,0.0,-0.006273,-0.003171,-0.003947,-0.002074,0.041591
ExDividend,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SplitRatio,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
AdjOpen,0.001154,0.000558,0.000513,0.000069,-0.006273,NaN,0.0,0.001154,0.000558,0.000513,0.000069,-0.006273
AdjHigh,0.000558,0.000273,0.000271,0.000061,-0.003171,NaN,0.0,0.000558,0.000273,0.000271,0.000061,-0.003171
AdjLow,0.000513,0.000271,0.000409,0.000287,-0.003947,NaN,0.0,0.000513,0.000271,0.000409,0.000287,-0.003947
AdjClose,0.000069,0.000061,0.000287,0.000415,-0.002074,NaN,0.0,0.000069,0.000061,0.000287,0.000415,-0.002074
AdjVolume,-0.006273,-0.003171,-0.003947,-0.002074,0.041591,NaN,0.0,-0.006273,-0.003171,-0.003947,-0.002074,0.041591

In [17]:
returns.corrwith(returns.High)

Open          0.993642
High          1.000000
Low           0.810594
Close         0.179998
Volume       -0.941325
ExDividend         NaN
SplitRatio         NaN
AdjOpen       0.993642
AdjHigh       1.000000
AdjLow        0.810594
AdjClose      0.179998
AdjVolume    -0.941325
dtype: float64

In [20]:
returns.corrwith(returns.Volume)

Open         -0.905322
High         -0.941325
Low          -0.957282
Close        -0.499363
Volume        1.000000
ExDividend         NaN
SplitRatio         NaN
AdjOpen      -0.905322
AdjHigh      -0.941325
AdjLow       -0.957282
AdjClose     -0.499363
AdjVolume     1.000000
dtype: float64

In [23]:
import pandas as pd
import numpy as np
obj = pd.Series(list('cadaabbcc'))

In [24]:
uniques = obj.unique()

In [30]:
uniques.sort()
uniques

array(['a', 'b', 'c', 'd'], dtype=object)

In [26]:
obj.value_counts()

c    3
a    3
b    2
d    1
dtype: int64

In [27]:
pd.value_counts(obj.values, sort=False)

d    1
b    2
a    3
c    3
dtype: int64

In [31]:
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [32]:
mask = obj.isin(['b', 'c'])

In [33]:
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [34]:
obj[mask]

0    c
5    b
6    b
7    c
8    c
dtype: object

In [35]:
to_match = pd.Series(list('cabbca'))

In [36]:
unique_vals = pd.Series(list('cba'))

In [37]:
pd.Index(unique_vals).get_indexer(to_match)

array([0, 2, 1, 1, 0, 2], dtype=int64)

In [38]:
data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],
                     'Qu2': [2, 3, 1, 2, 3],
                     'Qu3': [1, 5, 2, 4, 4]})

In [39]:
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [40]:
result = data.apply(pd.value_counts).fillna(0)

In [41]:
result

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

In [42]:
#chapter 6 数据加载存储和文件格式

In [47]:
df = pd.read_csv('task3_pandas/example_data/ex1.csv')

In [48]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [49]:
pd.read_table('task3_pandas/example_data/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [51]:
pd.read_csv('task3_pandas/example_data/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [52]:
pd.read_csv('task3_pandas/example_data/ex2.csv', names=list('abcd')+['message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [53]:
names=list('abcd')+['message']

In [54]:
pd.read_csv('task3_pandas/example_data/ex2.csv', names=names)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [55]:
parsed = pd.read_csv('task3_pandas/example_data/csv_mindex.csv',
                     index_col=['key1', 'key2'])

In [56]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [57]:
list(open('task3_pandas/example_data/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [58]:
result = pd.read_table('task3_pandas/example_data/ex3.txt',  sep='\s+')

In [59]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [60]:
pd.read_csv('task3_pandas/example_data/ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [61]:
result = pd.read_csv('task3_pandas/example_data/ex5.csv')

In [62]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [63]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [65]:
result = pd.read_csv('task3_pandas/example_data/ex5.csv', na_values=['NULL'])

In [67]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [72]:
sentinels = {'message': ['foo', 'NA'],
             'something': ['two']}

In [73]:
pd.read_csv('task3_pandas/example_data/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [74]:
pd.options.display.max_rows = 10

In [76]:
result = pd.read_csv('task3_pandas/example_data/ex6.csv')

In [77]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [78]:
pd.read_csv('task3_pandas/example_data/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [79]:
chunker = pd.read_csv('task3_pandas/example_data/ex6.csv', chunksize=1000)

In [80]:
chunker

In [82]:
tot = pd.Series([])
for i in chunker:
  tot = tot.add(i['key'].value_counts(), fill_value=0)
tot = tot.sort_values(ascending=False)

In [83]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [84]:
data = pd.read_csv('task3_pandas/example_data/ex5.csv')

In [85]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [86]:
data.to_csv('task3_pandas/out.csv')

In [87]:
import sys

In [89]:
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [90]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [91]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [92]:
data.to_csv(sys.stdout, index=False, columns=list('abc'))

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [95]:
dates = pd.date_range('1/1/2000', periods=7)

In [96]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

In [97]:
ts = pd.Series(np.arange(7), index=dates)

In [98]:
ts.to_csv('task3_pandas/tseries.csv')

In [99]:
import csv

In [100]:
f = open('task3_pandas/example_data/ex7.csv')

In [101]:
reader = csv.reader(f)

In [102]:
reader

In [103]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [104]:
with open('task3_pandas/example_data/ex7.csv') as f:
    lines = list(csv.reader(f))

In [105]:
header, values = lines[0], lines[1:]

In [106]:
data_dict = {h: v for h, v in zip(header, zip(*values) )}

In [107]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [109]:
import json
obj = """
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age": 38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [110]:
result = json.loads(obj)

In [111]:
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [112]:
asjson = json.dumps(result)

In [113]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])

In [114]:
siblings

    name  age
0  Scott   30
1  Katie   38

In [115]:
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [116]:
data = pd.read_json('task3_pandas/example_data/example.json')

In [117]:
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [118]:
print(data.to_json)

<bound method NDFrame.to_json of    a  b  c
0  1  2  3
1  4  5  6
2  7  8  9>

In [119]:
print(data.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

In [120]:
tables = pd.read_html('task3_pandas/example_data/fdic_failed_bank_list.html')

In [122]:
len(tables)

1

In [123]:
failures = tables[0]

In [124]:
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [125]:
failures

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"
...,...,...,...,...,...,...,...
542,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
543,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
544,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
545,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
546,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

In [126]:
tables

[                             Bank Name             City  ST   CERT  \
 0                          Allied Bank         Mulberry  AR     91
 1         The Woodbury Banking Company         Woodbury  GA  11297
 2               First CornerStone Bank  King of Prussia  PA  35312
 3                   Trust Company Bank          Memphis  TN   9956
 4           North Milwaukee State Bank        Milwaukee  WI  20364
 ..                                 ...              ...  ..    ...
 542                 Superior Bank, FSB         Hinsdale  IL  32646
 543                Malta National Bank            Malta  OH   6629
 544    First Alliance Bank & Trust Co.       Manchester  NH  34264
 545  National State Bank of Metropolis       Metropolis  IL   3815
 546                   Bank of Honolulu         Honolulu  HI  21029

                    Acquiring Institution        Closing Date  \
 0                           Today's Bank  September 23, 2016
 1                            United Bank     August 19, 2016
 2    First-Citizens Bank & Trust Company         May 6, 2016
 3             The Bank of Fayette County      April 29, 2016
 4    First-Citizens Bank & Trust Company      March 11, 2016
 ..                                   ...                 ...
 542                Superior Federal, FSB       July 27, 2001
 543                    North Valley Bank         May 3, 2001
 544  Southern New Hampshire Bank & Trust    February 2, 2001
 545              Banterra Bank of Marion   December 14, 2000
 546                   Bank of the Orient    October 13, 2000

           Updated Date
 0    November 17, 2016
 1    November 17, 2016
 2    September 6, 2016
 3    September 6, 2016
 4        June 16, 2016
 ..                 ...
 542    August 19, 2014
 543  November 18, 2002
 544  February 18, 2003
 545     March 17, 2005
 546     March 17, 2005

 [547 rows x 7 columns]]

In [127]:
close_timestamps = pd.to_datetime(failures['Closing Date'])

In [129]:
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, Length: 15, dtype: int64

In [136]:
from lxml import objectify
path = 'task3_pandas\ch06\mta_perf\Performance_MNR.xml'

In [137]:
parsed = objectify.parse(open(path))

In [138]:
root = parsed.getroot()

In [140]:
data = []
skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
'DESIRED_CHANGE', 'DECIMAL_PLACES']
for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [141]:
data

[{'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2008,
  'PERIOD_MONTH': 1,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 95.0,
  'YTD_ACTUAL': 96.9,
  'MONTHLY_TARGET': 95.0,
  'MONTHLY_ACTUAL': 96.9},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2008,
  'PERIOD_MONTH': 2,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 95.0,
  'YTD_ACTUAL': 96.0,
  'MONTHLY_TARGET': 95.0,
  'MONTHLY_ACTUAL': 95.0},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2008,
  'PERIOD_MONTH': 3,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 95.0,
  'YTD_ACTUAL': 96.3,
  'MONTHLY_TARGET': 95.0,
  'MONTHLY_ACTUAL': 96.9},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2008,
  'PERIOD_MONTH': 4,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 95.0,
  'YTD_ACTUAL': 96.8,
  'MONTHLY_TARGET': 95.0,
  'MONTHLY_ACTUAL': 98.3},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2008,
  'PERIOD_MONTH': 5,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 95.0,
  'YTD_ACTUAL': 96.6,
  'MONTHLY_TARGET': 95.0,
  'MONTHLY_ACTUAL': 95.8},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2008,
  'PERIOD_MONTH': 6,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 95.0,
  'YTD_ACTUAL': 96.2,
  'MONTHLY_TARGET': 95.0,
  'MONTHLY_ACTUAL': 94.4},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2008,
  'PERIOD_MONTH': 7,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 95.0,
  'YTD_ACTUAL': 96.2,
  'MONTHLY_TARGET': 95.0,
  'MONTHLY_ACTUAL': 96.0},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2008,
  'PERIOD_MONTH': 8,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 95.0,
  'YTD_ACTUAL': 96.2,
  'MONTHLY_TARGET': 95.0,
  'MONTHLY_ACTUAL': 96.4},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2008,
  'PERIOD_MONTH': 9,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 95.0,
  'YTD_ACTUAL': 95.9,
  'MONTHLY_TARGET': 95.0,
  'MONTHLY_ACTUAL': 93.7},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2008,
  'PERIOD_MONTH': 10,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 95.0,
  'YTD_ACTUAL': 96.0,
  'MONTHLY_TARGET': 95.0,
  'MONTHLY_ACTUAL': 96.4},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2008,
  'PERIOD_MONTH': 11,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 95.0,
  'YTD_ACTUAL': 96.1,
  'MONTHLY_TARGET': 95.0,
  'MONTHLY_ACTUAL': 96.9},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2008,
  'PERIOD_MONTH': 12,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 95.0,
  'YTD_ACTUAL': 96.0,
  'MONTHLY_TARGET': 95.0,
  'MONTHLY_ACTUAL': 95.1},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2009,
  'PERIOD_MONTH': 1,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 96.2,
  'YTD_ACTUAL': 92.6,
  'MONTHLY_TARGET': 96.2,
  'MONTHLY_ACTUAL': 92.6},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2009,
  'PERIOD_MONTH': 2,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 96.2,
  'YTD_ACTUAL': 94.6,
  'MONTHLY_TARGET': 96.2,
  'MONTHLY_ACTUAL': 96.8},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2009,
  'PERIOD_MONTH': 3,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 96.2,
  'YTD_ACTUAL': 95.4,
  'MONTHLY_TARGET': 96.2,
  'MONTHLY_ACTUAL': 96.9},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2009,
  'PERIOD_MONTH': 4,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 96.2,
  'YTD_ACTUAL': 95.9,
  'MONTHLY_TARGET': 96.2,
  'MONTHLY_ACTUAL': 97.1},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2009,
  'PERIOD_MONTH': 5,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 96.2,
  'YTD_ACTUAL': 96.2,
  'MONTHLY_TARGET': 96.2,
  'MONTHLY_ACTUAL': 97.8},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2009,
  'PERIOD_MONTH': 6,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 96.2,
  'YTD_ACTUAL': 96.4,
  'MONTHLY_TARGET': 96.2,
  'MONTHLY_ACTUAL': 97.3},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2009,
  'PERIOD_MONTH': 7,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 96.2,
  'YTD_ACTUAL': 96.5,
  'MONTHLY_TARGET': 96.2,
  'MONTHLY_ACTUAL': 96.7},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2009,
  'PERIOD_MONTH': 8,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 96.2,
  'YTD_ACTUAL': 96.4,
  'MONTHLY_TARGET': 96.2,
  'MONTHLY_ACTUAL': 95.7},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2009,
  'PERIOD_MONTH': 9,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 96.2,
  'YTD_ACTUAL': 96.3,
  'MONTHLY_TARGET': 96.2,
  'MONTHLY_ACTUAL': 96.1},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2009,
  'PERIOD_MONTH': 10,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 96.2,
  'YTD_ACTUAL': 96.2,
  'MONTHLY_TARGET': 96.2,
  'MONTHLY_ACTUAL': 94.8},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2009,
  'PERIOD_MONTH': 11,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 96.2,
  'YTD_ACTUAL': 96.1,
  'MONTHLY_TARGET': 96.2,
  'MONTHLY_ACTUAL': 95.7},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2009,
  'PERIOD_MONTH': 12,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 96.2,
  'YTD_ACTUAL': 96.0,
  'MONTHLY_TARGET': 96.2,
  'MONTHLY_ACTUAL': 95.0},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2010,
  'PERIOD_MONTH': 1,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 96.3,
  'YTD_ACTUAL': 98.0,
  'MONTHLY_TARGET': 96.3,
  'MONTHLY_ACTUAL': 98.0},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2010,
  'PERIOD_MONTH': 2,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 96.3,
  'YTD_ACTUAL': 95.6,
  'MONTHLY_TARGET': 96.3,
  'MONTHLY_ACTUAL': 93.0},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2010,
  'PERIOD_MONTH': 3,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 96.3,
  'YTD_ACTUAL': 96.1,
  'MONTHLY_TARGET': 96.3,
  'MONTHLY_ACTUAL': 96.9},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2010,
  'PERIOD_MONTH': 4,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 96.3,
  'YTD_ACTUAL': 96.6,
  'MONTHLY_TARGET': 96.3,
  'MONTHLY_ACTUAL': 98.1},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2010,
  'PERIOD_MONTH': 5,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 96.3,
  'YTD_ACTUAL': 96.8,
  'MONTHLY_TARGET': 96.3,
  'MONTHLY_ACTUAL': 97.6},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2010,
  'PERIOD_MONTH': 6,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 96.3,
  'YTD_ACTUAL': 96.9,
  'MONTHLY_TARGET': 96.3,
  'MONTHLY_ACTUAL': 97.4},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2010,
  'PERIOD_MONTH': 7,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 96.3,
  'YTD_ACTUAL': 96.9,
  'MONTHLY_TARGET': 96.3,
  'MONTHLY_ACTUAL': 96.6},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2010,
  'PERIOD_MONTH': 8,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 96.3,
  'YTD_ACTUAL': 96.9,
  'MONTHLY_TARGET': 96.3,

In [142]:
perf = pd.DataFrame(data)

In [143]:
perf.head()

,AGENCY_NAME,CATEGORY,DESCRIPTION,FREQUENCY,INDICATOR_NAME,INDICATOR_UNIT,MONTHLY_ACTUAL,MONTHLY_TARGET,PERIOD_MONTH,PERIOD_YEAR,YTD_ACTUAL,YTD_TARGET
0,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,1,2008,96.9,95
1,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,95,2,2008,96,95
2,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,3,2008,96.3,95
3,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.3,95,4,2008,96.8,95
4,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.8,95,5,2008,96.6,95

In [144]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [146]:
root

In [149]:
root.get('href')

'http://www.google.com'

In [150]:
root.text

'Google'

In [151]:
frame = pd.read_csv('task3_pandas/example_data/ex1.csv')

In [152]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [153]:
frame.to_pickle('task3_pandas/frame_pickle')

In [154]:
pd.read_pickle('task3_pandas/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [156]:
frame = pd.DataFrame({'a': np.random.randn(100)})

In [158]:
store = pd.HDFStore('task3_pandas\example_data\mydata.h5')

In [159]:
store['obj1'] = frame

In [160]:
store['obj1_col'] = frame['a']

In [161]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: task3_pandas\example_data\mydata.h5

In [162]:
store['obj1']

           a
0   1.557453
1  -0.266287
2  -0.332328
3  -0.191297
4   1.087638
..       ...
95 -0.138905
96  1.038218
97 -1.415011
98  0.058759
99 -1.261116

[100 rows x 1 columns]

In [163]:
store.put('obj2', frame, format='table')

In [164]:
store.select('obj2', where=['index >= 10 and index <= 15'])

           a
10  0.515622
11  0.408116
12  1.238135
13 -0.784840
14 -0.868554
15 -0.055157

In [165]:
store.close()

In [170]:
frame.to_hdf('task3_pandas/mydata.h5', 'obj3',format='table')

In [171]:
pd.read_hdf('task3_pandas/mydata.h5', 'obj3', where=['index < 5'])

          a
0  1.557453
1 -0.266287
2 -0.332328
3 -0.191297
4  1.087638

In [172]:
xlsx = pd.ExcelFile('task3_pandas/example_data/ex1.xlsx')

In [173]:
xlsx

In [174]:
pd.read_excel(xlsx, 'Sheet1')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [176]:
frame = pd.read_excel('task3_pandas/example_data/ex1.xlsx', 'Sheet1')

In [177]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [178]:
writer = pd.ExcelWriter('task3_pandas/ex2.xlsx')

In [180]:
frame.to_excel(writer, 'Sheet1')

In [182]:
writer.save()

In [184]:
frame.to_excel('task3_pandas/ex_new.xlsx')

In [185]:
import requests

In [186]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [187]:
resp = requests.get(url)

In [188]:
resp

In [189]:
data = resp.json()

In [190]:
data[0]['title']

'API: getting the "densified" values of a Categorical (preserving categories dtype) ?'

In [191]:
issues = pd.DataFrame(data, columns=['number', 'title', 'labels', 'state'])

In [192]:
issues

,number,title,labels,state
0,26410,"API: getting the ""densified"" values of a Categ...","[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
1,26409,DEPR: deprecate get_values,[],open
2,26408,BUG: MultiIndex not dropping nan level and inv...,[],open
3,26407,SparseArrays backed by other Extension array/d...,"[{'id': 849023693, 'node_id': 'MDU6TGFiZWw4NDk...",open
4,26406,BUG: to_numpy on categorical data with tz awar...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
...,...,...,...,...
25,26383,Prefixed batch script commands with call,[],open
26,26381,BUG: error calculating BusinessHourMixin.apply...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
27,26380,ENH: Implementing NEP 18's __array_function__,[],open
28,26379,BUG: Series.combine_first with mixed timezones,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
29,26377,Fix type annotations in pandas.core.ops,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open

In [193]:
import sqlite3

In [194]:
query = """
 CREATE TABLE test
 (a VARCHAR(20), b VARCHAR(20),
 c REAL, d INTEGER
 );"""

In [197]:
con = sqlite3.connect('task3_pandas/mydata.sqlite')

In [198]:
con.execute(query)

In [199]:
con.commit()

In [200]:
data = [('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [201]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [202]:
con.executemany(stmt, data)

In [203]:
cursor = con.execute('select * from test')

In [204]:
rows = cursor.fetchall()

In [205]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [206]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [207]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [209]:
import sqlalchemy as sqla

In [213]:
db = sqla.create_engine('sqlite:///mydata.sqlite')
#pd.read_sql('select * from test', db)

In [215]:
pd.read_sql('select * from test', db)

Empty DataFrame
Columns: [a, b, c, d]
Index: []